.catalog {
  width: @mobile-width;
  margin: 0 auto;
}

.catalog__title {
  font-family: @title-font;
  font-weight: normal;
  font-size: @title-size;
  padding-bottom: 31px;
  padding-left: 20px;
  padding-top: 15px;
}

.catalog__item {
  margin: 0 auto;
}

.catalog__item:not(:last-of-type) {
  border-bottom-width: 0;
}
