.button {
  display: block;
  padding: 8px 20px;

  border: none;

  font-family: @title-font;
  font-size: @bigger-text-size;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  background-color: @base-color;
  color: @text-additional-color;

  cursor: pointer;

  &:hover {
    background-color: @base-color-darker;
  }

  &:active {
    color: hsl(@text-additional-color, 20%);
  }
}
