@title-font:"Oswald", "Arial", sans-serif;
@base-color:#68b738;
@base-color-darker:#5eaa2e;
@base-additional-color:#ffffff;

@border-color:#d9d9d9;
@bg-dark-color:#ededed;

@text-color:#000000;
@text-additional-color:#ffffff;

@title-size:36px;
@subtitle-size:24px;
@text-size:14px;

@mobile-width:320px;
